@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

body {
  color: rgb(25, 25, 50);
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.hero-section,
.faq-section,
.second-section,
.mobil-section,
.review-section {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bulletPointContainer{
  display: flex;
  margin-bottom: 5vw;
}
.review-section{
  background-color: rgb(88, 36, 36);
}
.hero-section {
  background-color: rgb(163, 72, 255);
}

.second-section {
  background-color: rgb(255, 52, 52);
  height: 600px;
}
.logo {
  width: 8%;padding: 0;margin: 0;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 134px;
}

.shape .shape-fill {
  fill: #B0ACA1;
}

p{
  flex: 2;
  margin: 5px;
  padding: 3px;
  color: rgb(75, 75, 75);
}
#loginButton{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  background-color: #840000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
}
a{
  text-shadow: #0a0404;
  color: bisque;
  text-decoration: none;
}
#BeerCycleLogo {
  position: absolute;
  z-index: 1;
  width: 65%;
}

#hero-sectionLogo {
  filter: blur(1px);
  object-fit: cover;
  position: relative;
  width: 100%;
  padding-bottom: 100;
}


.foglaljButton {
  
  position: absolute;
  z-index: 1;
  margin-top: 15vw;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}

.flip{
  transform: rotate(180deg);
}

.svg{
  z-index: -1;
}

.blob:hover {
  filter: drop-shadow(0 0 10px #00ff00); 
}

footer{
  background-color: grey;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}