@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(25, 25, 50);
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  
}
.hero-section,
.faq-section,
.second-section,
.mobil-section,
.review-section {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#menuPage{
  background-image: url('/Images/pubBeercycle.png');
  background-size: cover;
  background-position: center;
  height: 100vh; 
  width: 100vw; 

}
a{
  color: black;
}

.review-section {
  background-color: rgb(255, 255, 255);
}

.hero-section {
  background-color: rgb(163, 72, 255);
}

.second-section {
  background-color: rgb(255, 255, 255);
}

.shape object {

  margin-top: 16vw;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.loadDiv {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 15vh;
  
}

.shape svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 134px;
}

.shape .shape-fill {
  fill: #fdbd0c;
}

p {
  flex: 2;
  margin: 5px;
  padding: 3px;
}

#loginButton {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  background-color: #840000;
  color: #f1daaf;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
}
#loginButton:hover, button:hover{
  transform: scale(1.1);
  border-radius: 30px;
  background-color: #840000;
}

.loginNav:hover{

  background-color: #840000;
}

#BeerCycleLogo {
  position: absolute;
  z-index: 1;
  width: 65%;
}

#hero-sectionLogo {
  filter: blur(1px);
  object-fit: cover;
  position: relative;
  width: 100%;
  padding-bottom: 100;
}


.foglaljButton {
  position: relative;
  z-index: 1;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}

.flip {
  transform: rotate(180deg);
}


.blob:hover {
  filter: drop-shadow(0 0 10px #00ff00);
}


.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  max-width: fit-content;
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
